@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans:wght@300;400;700&display=swap");

/* Reset
================== */

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

/* Default
================== */
body {
  text-align: center;
  font-size: 18.594px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 47.813px;
}

h3 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 5px;
  font-size: 39.844px;
  font-weight: 300;
}

h4 {
  font-size: 31.875px;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h1,
h2,
h4 {
  font-family: "Architects Daughter", cursive;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 18.594px;
  font-weight: 300;
  letter-spacing: 5px;
}

img {
  max-width: 100%;
  min-height: 100%;
}

input,
select,
textarea,
address {
  font-size: inherit;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}

address {
  line-height: 1.7;
  font-style: normal;
  letter-spacing: 1.2px;
  margin-bottom: 70px;
}
/* Buttons
================= */

.btn {
  display: inline-block;
  padding: 25px 20px;
  border-style: solid;
  border-color: transparent;
  margin: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 18.594px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 280px;
  letter-spacing: 5px;
}

.btn--red {
  background-color: #a62e38;
  color: #fff;
}

.btn--green {
  background-color: #0f5929;
  color: #fff;
}

.btn--accent {
  background-color: #f2c230;
  color: #fff;
}

/* Background
================== */

.highlight {
  padding-top: 45px;
  padding-bottom: 45px;
}

.highlight--small {
  padding-top: 20px;
  padding-bottom: 20px;
}

.highlight--green {
  background-color: #0f5929;
  color: #fff;
}

.highlight--gray {
  background-color: #737373;
  color: #fff;
}

.highlight--light-gray {
  background-color: #ececec;
}

/* Container
================== */
.container-full {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.container-full:before,
.container-full:after {
  display: table;
  content: " ";
  clear: both;
}

/* Column grid
================== */
.row {
  /* overflow: hidden; */
  margin-right: -15px;
  margin-left: -15px;
}

/* .row [class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
} */

.row:before,
.row:after {
  content: " ";
  display: table;
  clear: both;
}

.col-3,
.col-6,
.col-12 {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
}

.col-3 {
  width: 33.33333333%;
}

.col-6 {
  width: 50%;
}

/* Screen readers
=================== */

.sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

/* Login
================== */

.login-container {
  overflow: hidden;
}

.login-container a {
  font-family: "Open Sans", sans-serif;
  font-size: 18.594px;
  text-transform: uppercase;
  letter-spacing: 5px;
  float: right;
  padding: 14px 35px;
}

/* Navigation
================= */

.top-nav {
  background-color: #a62e38;
  padding: 32px 26px;
  overflow: hidden;
  color: #fff;
}

.top-nav header {
  float: left;
}

.nav-title {
  font-family: "Open Sans", sans-serif;
  font-size: 26.562px;
  font-weight: 400;
  line-height: 1;
  display: block;
  text-align: left;
}

.nav-sub-title {
  font-family: "Architects Daughter", cursive;
  text-align: left;
  font-size: 15.937px;
}

.top-nav ul {
  float: right;
  list-style: none;
}

.top-nav li {
  display: inline-block;
  margin: 8.5px;
}

.top-nav a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 21.25px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  margin: 10px;
  letter-spacing: 3px;
}

.top-nav a:hover,
.top-nav a:focus {
  color: #ddd;
}

/* showcase
===================== */

.showcase {
  background-image: url("../images/showcase.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 100%;
  padding: 185px 175px;
  color: #fff;
}

.showcase h2 {
  font-size: 60px;
}

.showcase p {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}

/* Feature drinks
==================== */
.feature-drink {
  margin: 20px 0;
}

.feature-drinks h3 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.feature-drink h4 {
  padding-bottom: 2px;
  letter-spacing: 6px;
  border-bottom: 3px solid #000;
  display: inline-block;
  margin-bottom: 36px;
}

.feature-drink p {
  padding: 0 20px;
  margin-bottom: 47px;
}

.feature-drink-description {
  padding: 5% 0;
}

.feature-drink-description div {
  padding: 10% 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Contact
================ */
.contact {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
}

/* Forms
================ */
/* .form-inline:before,
.form-inline:after {
  display: table;
  content: " ";
  clear: both;
}
*/
.form-group {
  margin-bottom: 15px;
}

.form-control {
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 4px;
  color: #ddd;
  width: 100%;
  padding: 20px;
  font-size: inherit;
  display: block;
}

.form-inline .form-group,
.form-inline .form-control {
  display: inline-block;
}

.form-inline .form-group:nth-child(-n + 2) {
  width: 48%;
}

.form-inline .form-group:nth-child(2) {
  margin-left: 32px;
}

.form-inline .form-group:nth-child(3) {
  display: block;
}

.form-inline input.form-control {
  width: 100%;
}

.form-group .btn {
  margin-left: 0;
}

/* Social Media
======================= */
.social-media-accounts p {
  margin-bottom: 10px;
}

.fa-facebook-square {
  color: #4268b3;
}

.fa-twitter-square {
  color: #43bceb;
}

.fa-youtube-square {
  color: #e42b33;
}

.fa-linkedin-square {
  color: #0177b5;
}

/* Footer
=================== */
.footer {
  background-color: #000;
  color: #fff;
}

.footer p {
  margin-top: 10%;
}

.footer ul {
  list-style: none;
  padding: 50px;
}

.footer li {
  display: block;
}

.footer a {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  line-height: 2;
  letter-spacing: 2px;
}
