@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans:wght@300;400;700&display=swap");

/* Reset
================== */

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

/* Default
================== */

body {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

input,
select,
textarea,
address {
  font-size: inherit;
  font-family: "Open Sans", sans-serif;
}

address {
  line-height: 1.7;
  font-style: normal;
  margin-bottom: 70px;
}

/* Typography
============== */

h1 {
  font-size: 3.75rem;
}

h2 {
  font-size: 2.99rem;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.49rem;
  font-weight: 300;
}

h4 {
  font-size: 1.992rem;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h1,
h2,
h4 {
  font-family: "Architects Daughter", cursive;
}

p,
a {
  font-family: "Open Sans", sans-serif;
  font-size: 1.162rem;
  font-weight: 300;
}

/* Buttons
================= */

.btn {
  display: inline-block;
  padding: 1.162em 5em;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  margin: 1.25em;
  font-family: "Open Sans", sans-serif;
  font-size: 1.162rem;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}

.btn--red {
  background-color: #a62e38;
  color: #fff;
}

.btn--green {
  background-color: #0f5929;
  color: #fff;
}

.btn--accent {
  background-color: #f2c230;
  color: #fff;
}

@media (min-width: 20em) {
  .btn {
    font-size: 0.825rem;
  }
}

/* Background colors
================== */

.highlight {
  padding-top: 2.813em;
  padding-bottom: 2.813em;
}

.highlight--small {
  padding-top: 2.813em;
  padding-bottom: 2.813em;
}

.highlight--green {
  background-color: #0f5929;
  color: #fff;
}

.highlight--gray {
  background-color: #737373;
  color: #fff;
}

.highlight--light-gray {
  background-color: #ececec;
}

@media (min-width: 20em) {
  /* .highlight {
    padding: 0.938em 0.313em;
  } */
  .highlight h2 {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) {
  .highlight h2 {
    font-size: 1.825rem;
  }
}

/* Container
================== */
.container-full {
  padding-left: 0.938em;
  padding-right: 0.938em;
  margin-left: 0.938em;
  margin-right: 0.938em;
}

.container-full:before,
.container-full:after {
  display: table;
  content: " ";
  clear: both;
}

@media (min-width: 20em) {
  .container-full {
    margin: 0;
    padding: 0;
  }
}

/* Column grid
================== */

.row {
  margin-right: -0.938em;
  margin-left: -0.938em;
}

.row:before,
.row:after {
  content: " ";
  display: table;
  clear: both;
}

.col-3,
.col-6,
.col-12 {
  float: left;
  padding-left: 0.938em;
  padding-right: 0.938em;
  position: relative;
  min-height: 0.063em;
}

@media (min-width: 20em) {
  .col-3,
  .col-6 {
    width: 100%;
  }
}

@media (min-width: 25.688em) {
  .col-3,
  .col-6 {
    width: 100%;
  }
}

@media (min-width: 48em) {
  .col-3,
  .col-6 {
    width: 100%;
  }
}

@media (min-width: 62em) {
  .col-3 {
    width: 33.33333333%;
  }
  .col-6 {
    width: 50%;
  }
}

/* Screen readers
=================== */

.sr {
  position: absolute;
  width: 0.063em;
  height: 0.063em;
  padding: 0;
  margin: -0.063em;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

/* Login
================== */

.login-container:before,
.login-container:after {
  display: table;
  content: " ";
  clear: both;
}

.login-container a {
  text-transform: uppercase;
  float: right;
  padding: 0.875em 2.188em;
  color: #000;
  text-decoration: none;
}

.login-container a:hover,
.login-container a:focus {
  color: #a62e38;
}

/* Navigations
================= */

.top-nav {
  background-color: #a62e38;
  color: #fff;
  padding: 1.563em 0.938em;
}

.top-nav:before,
.top-nav:after {
  display: table;
  content: " ";
  clear: both;
}

.top-nav header {
  float: left;
}

.top-nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.66rem;
  font-weight: 400;
  line-height: 1;
  display: block;
  text-align: left;
}

.nav-sub-title {
  font-family: "Architects Daughter", cursive;
  text-align: left;
  font-size: 0.996em;
}

.top-nav ul {
  float: right;
  list-style: none;
  margin-top: 0.7em;
}

.top-nav li {
  display: inline-block;
}

.top-nav li a {
  font-weight: 700;
  padding: 0.5em;
}

.top-nav a:hover,
.top-nav a:focus {
  color: #ddd;
}

@media (min-width: 20em) {
  #home {
    position: absolute;
    left: 0;
    right: 0;
  }

  .login-container {
    padding: 0.938em 0;
  }

  .login-container a {
    color: #000;
    float: none;
    font-size: 0.7em;
    border: 0.063em solid #fff;
  }

  .login-container a:hover,
  .login-container a:focus {
    background-color: #fff;
    color: #000;
  }

  .top-nav {
    background-color: transparent;
  }

  .top-nav header {
    float: none;
    margin-bottom: 0.938em;
  }

  .nav-title {
    text-align: center;
    font-size: 2em;
    color: #000;
  }

  .nav-sub-title {
    color: #000;
    font-size: 0.8em;
  }

  .top-nav ul {
    float: none;
  }

  .top-nav li {
    margin: 0;
  }

  .top-nav li a {
    letter-spacing: normal;
    font-weight: 700;
    font-size: 0.9em;
    color: #000;
    margin: 0;
  }
}

@media (min-width: 48em) {
  .login-container a {
    color: #000;
    float: right;
    font-size: 1rem;
    font-weight: 400;
    border: none;
  }

  .top-nav header {
    float: left;
    margin-bottom: 0;
    margin-left: 0.938em;
  }

  .top-nav ul {
    float: right;
  }

  .nav-title {
    font-size: 2rem;
    text-align: left;
  }
  .nav-sub-title {
    font-size: 1.2rem;
  }

  .top-nav li a {
    letter-spacing: normal;
    font-weight: 700;
    font-size: 1.2em;
  }
}

/* showcase
===================== */

.showcase {
  padding: 11.563em 10.938em;
  color: #fff;
}

.showcase:after {
  content: "";
  background-image: url("../images/showcase.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.showcase h1 {
  font-size: 3.75rem;
}

.showcase p {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 20em) {
  .showcase {
    padding-top: 50vh;
    padding-left: 0;
    padding-right: 0;
    color: #000;
    height: 100vh;
  }
  .showcase h1 {
    font-size: 1.875rem;
  }
  .showcase p {
    font-size: 1rem;
    font-weight: 400;
  }
}

@media (min-width: 768px) {
  .showcase h1 {
    font-size: 3rem;
  }
  .showcase p {
    font-size: 1.5rem;
  }
  .btn {
    font-size: 1.5em;
  }
}

/* Feature drinks
==================== */
.feature-drink {
  margin: 1.25em 0;
}

.feature-drinks h3 {
  margin-top: 3.75em;
  margin-bottom: 3.75em;
}

.feature-drink h4 {
  padding-bottom: 0.125em;
  border-bottom: 0.188em solid #000;
  display: inline-block;
  margin-bottom: 2.25em;
}

.feature-drink p {
  padding: 0 1.25em;
  margin-bottom: 2.938em;
}

.feature-drink-description {
  padding: 5% 0;
}

.feature-drink-description div {
  padding: 10% 0;
}

.card {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
}

.card-image {
  margin-bottom: 1.125em;
}

.card h4 {
  display: inline-block;
  border-bottom: 0.188em solid #000;
  margin-bottom: 1.125em;
}

.card-caption {
  padding: 1.5em;
}

@media (min-width: 20em) {
  .highlight--light-gray {
    padding: 0;
  }
  .feature-drink {
    margin: 0;
    border-bottom: 0.063em solid gray;
  }
  .feature-drinks h3 {
    font-size: 1.125rem;
    margin-top: 1.875em;
    margin-bottom: 1.875em;
  }
  .feature-drink-description h4 {
    font-size: 1rem;
  }

  .feature-drink p {
    font-size: 0.875rem;
    margin-bottom: 1.25em;
  }
  .card-caption h4 {
    font-size: 1rem;
  }
  .card-caption p {
    font-size: 1rem;
  }
}

@media (min-width: 48em) {
  .feature-drinks h3 {
    font-size: 1.8rem;
  }

  .feature-drink-description h4 {
    font-size: 1.725rem;
  }

  .feature-drink p {
    font-size: 1.7rem;
  }

  .card-caption h4 {
    font-size: 1.9rem;
  }
  .card-caption p {
    font-size: 1.5rem;
  }
}

/* Contact
================ */

.contact {
  text-align: left;
  padding-left: 0.938em;
  padding-right: 0.938em;
  padding-top: 1.875em;
}

/* Forms
================ */

.form-group {
  margin-bottom: 0.938em;
}

.form-control {
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 0.25em;
  color: #ddd;
  width: 100%;
  padding: 1.25em;
  font-size: inherit;
  display: block;
}

.form-inline .form-group,
.form-inline .form-control {
  display: inline-block;
}

.form-inline .form-group:nth-child(-n + 2) {
  width: 48%;
}

.form-inline .form-group:nth-child(2) {
  margin-left: 32px;
}

.form-inline .form-group:nth-child(3) {
  display: block;
}

/* .form-inline input.form-control {
  width: 100%;
} */

.form-group .btn {
  margin-left: 0;
}

@media (min-width: 20em) {
  .form-inline {
    border-bottom: 1px solid gray;
    margin-bottom: 0.938em;
  }

  .form-inline .form-group,
  .form-inline .form-control {
    display: block;
  }

  .form-inline .form-group:nth-child(-n + 2) {
    width: 100%;
  }

  .form-inline .form-group:nth-child(2) {
    margin-left: 0;
  }

  .contact address {
    margin-top: 0.938em;
  }

  .contact .social-media-accounts {
    margin-bottom: 1.875em;
  }
}

@media (min-width: 48em) {
  .form-control {
    font-size: 1.5rem;
  }
}

/* Social Media
======================= */
.social-media-accounts p {
  margin-bottom: 0.625em;
}

.fa-facebook-square {
  color: #4268b3;
}

.fa-twitter-square {
  color: #43bceb;
}

.fa-youtube-square {
  color: #e42b33;
}

.fa-linkedin-square {
  color: #0177b5;
}

@media (min-width: 48em) {
  address {
    font-size: 1.7rem;
    text-align: center;
  }
  .social-media-accounts {
    text-align: center;
  }
}

/* Footer
=================== */
.footer {
  background-color: #000;
  color: #fff;
}

.footer p {
  margin-top: 10%;
}

.footer ul {
  list-style: none;
  padding: 3.125em;
}

.footer li {
  display: block;
}

.footer a {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  line-height: 2;
}

.footer a:hover,
.footer a:focus {
  color: #ddd;
}

@media (min-width: 48em) {
  footer p,
  footer a {
    font-size: 1.5rem;
  }
}
